{% extends 'base.html.twig' %}

{% block body %}
    <img style=" width : 200px; "
     src=" {{ asset('images/france-flag.png') }} "
     alt="France Flag">

    <h1>Hello From France </h1>
   <p> It's currently {{ 'now'|date('h:i A','Europe/Paris') }}</p>
   
 
{% endblock %}